{% extends "base.html"%}
{% block title %} Inicia Sesion {% endblock %}
{% load static %}



{% block content %}

<form action="{% url 'cuentas:login' %}" method="post">

    <h3 id="InicioSesion">Inicia Sesion</h3>
    {% csrf_token %}

    {% if form.errors %}
        <div class="alert alert-primary" role="alert">
            Error: El usuario o contraseña no son correctas!
        </div>
    {% endif %}

    <div class="formulin" id="input">
        <label class="form-label">{{ form.username.label }}</label>
        {{ form.username }}
    </div>

    <div class="formulin" id="input">
        <label class="form-label">{{ form.password.label }}</label>
        {{ form.password }}
    </div>

    <div class="input-group mb-3" id="button">
        <button class="btn btn-lg btn-primary w-100 fs-6">Entrar</button>
    </div>

    <p class="text-center pb-3">
        <a href="{% url 'cuentas:registro' %}" id="registrate">Crea una cuenta</a>
    </p>
    <div class="forgot text-center">
        <small><a href="{% url 'cuentas:recuperaclave' %}">¿Has Olvidado Tu Clave?</a></small>
    </div>
    
</form>

{% endblock %}