{% extends "../base.html"%}
{% block title %} Agrega un producto {% endblock %}
{% load static %}


{% load crispy_forms_tags %}

{% block content %}

<style>
    .form-control {
        border-color: 2px solid #ccc;
    }
</style>
<div class="col-12 col-md-6 offset-md-3">
    <form method="post" enctype="multipart/form-data" id="productoForm">
        {% csrf_token %}
    
        <div class="mb-3">
            <label for="id_titulo">Título</label>
            {{ form.titulo }}
        </div>
    
        <div class="mb-3">
            <label for="id_descripcion">Descripción</label>
            {{ form.descripcion }}
        </div>
    
        <div class="mb-3">
            <label for="id_imagen">Imagen</label>
            {{ form.imagen }}
        </div>
    
        <div class="mb-3">
            <label for="id_precio">Precio</label>
            {{ form.precio }}
        </div>
    
        <div class="mb-3">
            <label for="id_stock">Stock</label>
            {{ form.stock }}
        </div>
    
        <div class="mb-3">
            <label for="id_slug">Slug</label>
            {{ form.slug }}
        </div>
    
        <div class="mb-3">
            <label for="id_categoria">Categoría</label>
            {{ form.categoria }}
        </div>
    
        <button type="submit" id="btn-submit" class="btn btn-success">Agregar Producto</button>
    </form>

    
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
</div>

<script src="{% static 'fitzen/js/creacion_de_slug.js' %}"></script>


{% endblock %}