{% extends "../base.html" %}
{% load static %}
{% block title %} Foro {% endblock %}

{% block content %}

<div style="display: flex; background-color: aqua; margin-top: 100px; margin-left: 10%; margin-right: 10%; border: 2px solid;">
    
    <img src="{% static 'fitzen/img/fitzen.png'%}" alt="Imagen no cargada" style="border: 3px solid; border-color:blue; margin: 5px;">
    <div style="margin-top: 5px; margin-right: 1%; margin-bottom: 5px; padding: 1% ;overflow-wrap: break-word; text-align: justify;">
        <h2>Titulo de la publicacion</h2>
        <p style="font-size: smaller;">Autor: Nombre de ejemplo</p>
        <p>Parrafo para describir la publicacion, tener en cuenta que si se escriben demasiadas palabras, esto puede causar que el div se rompa, aun asi estamos solucionandolo
            aunque estamos encontrando problemas a la hora de generar mas espacio dentro de el margen
        </p>
    </div>
</div>


<form style="padding-top: 20px; padding-left: 10%; padding-right: 10px;">
    <div class="form-group">
    <textarea rows="5" cols="201"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" style="border-radius: 10px; border-color: black;">Enviar comentario</button>
</form>

<div style="display: flex; background-color: aqua; margin-top: 100px; margin-left: 10%; margin-right: 10%; margin-bottom: 10%;border: 2px solid;">   
    <img src="{% static 'fitzen/img/fitzen.png'%}" alt="Imagen no cargada" style="border: 3px solid; border-color:blue; margin: 5px;">
    <div style="margin-top: 5px; margin-right: 1%; margin-bottom: 5px; padding: 1% ;overflow-wrap: break-word; text-align: justify;">
        <p style="font-size: smaller;">Autor: Nombre de ejemplo</p>
        <p>Texto del comentario dejado
        </p>
    </div>
    <button style="border-radius: 10px; background-color: blue; color: white; margin-top: 10%; margin-bottom: 3px; height: 50px; width: 100px; border: 3px solid; border-color: black;">Me Gusta</button><br>
</div>

{% endblock %}