{% extends "../base.html" %}
{% load static %}
{% block title %} Foro {% endblock %}

{% block content %}

<div style="display: flex; justify-content: center; align-items: center; gap: 20px; padding-top: 10px; padding-bottom: 10px;">
    <h1 style="text-align: center;">Foro Principal</h1>
    <a href="{% url 'foro:agregarforo' %}" 
       style="display: flex; justify-content: center; align-items: center; width: 50px; height: 50px; background-color: #00BFFF; border-radius: 50%; text-decoration: none; color: white; font-size: 32px; font-weight: bold; line-height: 1;">
        +
    </a>
</div>

{% if foro_productos %}
<div class="foro-lista" style="padding-bottom: 50px;">
    {% for foro_producto in foro_productos %}
        <div class="producto-card">
            <div class="producto-header">
                <img src="{{ foro_producto.imagen.url }}" alt="{{ foro_producto.titulo }}" class="img-producto">
                <div class="producto-info">
                    <div class="producto-info-header">
                        <p>{{ foro_producto.titulo }}</p>
                        {% if request.user == foro_producto.creado_por or request.user.is_superuser %}
                        <div class="menu-comentario">
                            <i class="fas fa-pen"></i>
                            <ul class="menu">
                                <li><a href="{% url 'foro:editar_foro' foro_producto.encrypted_slug %}">Editar</a></li>
                                <li><a href="{% url 'foro:eliminar_foro' foro_producto.slug %}" onclick="return confirmDelete()">Eliminar</a></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                    <span class="producto-date">{{ foro_producto.subido }} | {{ foro_producto.creado_por }}</span>
                </div>
            </div>
            <div class="producto-body">
                <p>{{ foro_producto.descripcion }}</p>
            </div>
            <div class="producto-footer">
                <p><strong>{{ foro_producto.conteo_comentarios }} comentarios</strong></p>
                <a href="{{ foro_producto.get_absolute_url }}" class="btn-ver-detalles">Comentarios sobre el foro</a>
            </div>
        </div>
    {% endfor %}
</div>

{% else %}
    <p>No hay publicaciones en el foro.</p>
{% endif %}

<script>
    function confirmDelete() {
        return confirm("¿Estás seguro de eliminar este producto?");
    }
</script>

{% endblock %}
